name: CI

on:
  push:
    branches: ["**"]
    tags-ignore: ["**"]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      artifact_suffix: -${{ github.sha }}
      retention_days: 14
